@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

header {
    margin: 0;
}


/*-- COLORS --*/


.bg-color-name-title {
    background-color: #FFEE82;
}

.bg-color-three-reasons {
    background-color: #575757;
}

.ui-menu-color-home{
    background-color: #48C9B0;
}

.ui-menu-color-resume{
    background-color: #45B39D;
}

.ui-menu-color-contact{
    background-color: #52BE80;
}

.ui-menu-color-download{
    background-color: #58D68D;
}


/*------- special paddings/margins/text --------*/

h1,h2,h3,h4,h5 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub{
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #fafafa;
    margin-bottom: 10px;
}

.inline-block {
    display: inline-block;
}

.section-column{
    padding: 0 30px 30px;
    float: none;
    display: table-cell;
    
}

.row-table{
    display: table;
}

.section-heading{
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px;
}
/*------- heading --------*/



.heading{ 
    margin-left: 20px;
    text-align: center;
}


header {

margin-bottom: -10px;

}

.logo {
    background: url("../images/bird.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.name{
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
}

.title{
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
}

#nav {
    padding: 0px;
}

#nav li {
    padding: 0px;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    height: 120px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

/*------- HOVER.CSS --------*/

.hvr-sweep-to-bottom:before{
    background: rgba(0,0,0,0.2);
}


/*------- footer --------*/

footer{
    background-color: #81a260;
    color: #fafafa;
    min-height: 120px;
    padding-top: -10px;
}

footer .cv-pdf i{
    color: #fafafa;
    text-align: center;
    font-size: 18px;
}

footer .cv-pdf i:hover{
    color: #448B39;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i{
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #75C697;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover{
    color: #448B39;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}
#footer-details{
    margin: 20px;
}
